.DS_Store
/front-end/node_modules
/front-end/dist

/front-end/tests/e2e/videos/
/front-end/tests/e2e/screenshots/
/back-end-app/src/main/resources/
/back-end-app/target/
/back-end-app/images/



# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
